<div class="flex items-center justify-center min-h-[80vh]">
    <div class="bg-white p-6 rounded-2xl shadow-lg text-center w-96">
        <h2 class="text-2xl font-semibold text-red-500">ยังไม่ได้ชำระเงิน</h2>
        <p class="text-gray-500 mt-1">คุณยังไม่ได้ชำระเงิน กรุณาชำระเงินภายใน 24 ชั่วโมงหลังสั่งซื้อสินค้า
            หากเกินระยะเวลาจะถือเป็นการยกเลิกการสั่งซื้อ</p>
        <button mat-flat-button color="primary" class="mt-4 " routerLink="/">
            ไปหน้าแรก
        </button>
    </div>
</div>