<ng-container>
    <form [formGroup]="changePassFormGroup" class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <h2 class="text-xl col-span-full">แก้ไขรหัสผ่าน</h2>

        <mat-form-field class="w-full">
            <mat-label>รหัสผ่านเดิม</mat-label>
            <input type="password" matInput formControlName="old_password">
            <mat-error *ngIf="changePassFormGroup.get('old_password')?.errors as errors">
                <ng-container *ngIf="errors['required']">ต้องการรหัสผ่าน</ng-container>
                <ng-container *ngIf="errors['minlength']">รหัสผ่านต้องมีอย่างน้อย 8 ตัวอักษร</ng-container>
            </mat-error>
        </mat-form-field>
        <div></div>


        <mat-form-field class="w-full">
            <mat-label>รหัสผ่านใหม่</mat-label>
            <input type="password" matInput formControlName="new_password">
            <mat-error *ngIf="changePassFormGroup.get('new_password')?.errors as errors">
                <ng-container *ngIf="errors['required']">ต้องการรหัสผ่านใหม่</ng-container>
                <ng-container *ngIf="errors['minlength']">รหัสผ่านต้องมีอย่างน้อย 8 ตัวอักษร</ng-container>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>ยืนยันรหัสผ่าน</mat-label>
            <input type="password" matInput formControlName="cf_new_password">
            <mat-error *ngIf="changePassFormGroup.get('cf_new_password')?.errors as errors">
                <ng-container *ngIf="errors['required']">ต้องการยืนยันรหัสผ่าน</ng-container>
                <ng-container *ngIf="errors['minlength']">รหัสผ่านต้องมีอย่างน้อย 8 ตัวอักษร</ng-container>
            </mat-error>
        </mat-form-field>


    </form>
    <button mat-flat-button color="primary" class="mt-4" [disabled]="changePassFormGroup.invalid"
        (click)="submitHandler()">ยืนยัน</button>
</ng-container>