<div class="mt-4">
    <div class="grid grid-cols-7 bg-white rounded-md mb-2 border">
        <ng-container *ngFor="let stage of stages; let i = index">
            <div class="py-4 col-span-1 text-center border-b-2"
                [ngClass]="i === currentIndexStage ? 'border-b-primary-500' : ''"
                (click)="changeStage(i)">
                <span>{{ stage.text }}</span>
            </div>
        </ng-container>
    </div>

    <div class="bg-white p-4 rounded-md">
        
    </div>
</div>