<div class="mt-4">
    <!-- cart header -->
    <div class="grid grid-cols-12 p-4 border rounded-md bg-white mb-4">
        <div class="col-span-4">
            <mat-checkbox [disabled]="carts.length === 0" [checked]="isAllSelected()" (change)="toggleAllSelection()">
                สินค้า
            </mat-checkbox>
        </div>
        <div class="col-span-2">ราคาต่อชิ้น</div>
        <div class="col-span-2 text-center">จำนวน</div>
        <div class="col-span-2">ราคารวม</div>
        <div class="col-span-2">แอคชั่น</div>
    </div>

    <!-- cart body -->
    <div class="mb-4" *ngFor="let cart of carts; trackBy: trackByCartId">
        <div class="grid grid-cols-12 p-4 border rounded-md bg-white mb-2">
            <mat-checkbox [checked]="cart.selected" (change)="toggleCartSelection(cart)">
                <span [routerLink]="'/user/'+cart.created_by" (click)="$event.stopPropagation();">{{ cart.created_user }}</span>
            </mat-checkbox>
        </div>
        <div class="border rounded-md bg-white">
            <div *ngFor="let product of cart.products; trackBy: trackByProductId"
                class="grid grid-cols-12 p-4 items-center border-b last:border-b-0">
                <div class="col-span-4">
                    <mat-checkbox [checked]="product.selected" (change)="toggleProductSelection(cart, product)">
                        <span [routerLink]="'/products/'+product.id" (click)="$event.stopPropagation();">
                            <div class="flex gap-2 items-center">
                                <img [src]="product.imageUrl | imageUrl" [alt]="product.name" class="h-[82px] w-[82px]">
                                <p>{{ product.name }}</p>
                            </div>
                        </span>
                    </mat-checkbox>
                </div>
                <div class="col-span-2">
                    {{ product.price | currency:'THB':'฿':'1.2-2' }}
                </div>
                <div class="col-span-2 px-6">
                    <div class="grid grid-cols-3 gap-2 border ">
                        <button class="border-r" (click)="quantityHandler('minus', product)">-</button>
                        <span class="text-center">{{ product.qty }}</span>
                        <button class="border-l" (click)="quantityHandler('plus', product)">+</button>
                    </div>
                </div>

                <div class="col-span-2">
                    {{ product.totalPrice | currency:'THB':'฿':'1.2-2' }}
                </div>
                <div class="col-span-2">
                    <button (click)="removeProduct(product.id)">ลบ</button>
                </div>
            </div>
        </div>
    </div>

    <!-- cart footer -->
    <div class="flex justify-between items-start p-4 border rounded-md bg-white">
        <div>
            <mat-checkbox [disabled]="carts.length === 0" [checked]="isAllSelected()" (change)="toggleAllSelection()">
                เลือกทั้งหมด
            </mat-checkbox>
            <button mat-button class="ml-2" [disabled]="carts.length === 0" (click)="clearCart()">
                ล้างทั้งหมด
            </button>
        </div>
        <div>
            <div class="flex gap-2 items-center mb-2">
                <span>
                    รวมสินค้า ({{ totalSelectedItems }} สินค้า)
                    <span class="text-2xl text-primary-500">
                        {{ totalSelectedPrice | currency:'THB':'฿':'1.2-2' }}
                    </span>
                </span>
            </div>
            <button [disabled]="totalSelectedItems === 0" mat-flat-button color="primary" class="w-full"
                (click)="checkoutHandler()">สั่งซื้อสินค้า</button>
        </div>

    </div>
</div>