<div class="mt-4">
  <div class="p-4 border rounded-md bg-white mb-2 flex items-center gap-1">
    <button mat-icon-button (click)="backNavigate()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <p>การสั่งซื้อสินค้า</p>
  </div>
  <div
    class="mb-4 p-4 bg-white rounded-md border"
    *ngFor="let cart of selectedItems"
  >
    <!-- header order -->
    <div class="w-full border-b py-2">
      <span [routerLink]="'/shop/' + cart.created_by">
        {{ cart.created_user }}
      </span>
    </div>
    <!-- body order -->
    <div
      *ngFor="let product of cart.products"
      class="py-2 border-b grid grid-cols-8"
    >
      <div class="col-span-7">
        <div class="flex gap-2 items-start">
          <img
            [src]="product.imageUrl | imageUrl"
            [alt]="product.name"
            class="h-[82px] w-[82px]"
          />
          <p>{{ product.name }}</p>
        </div>
      </div>
      <div class="col-span-1">
        <div class="flex gap-4 justify-end">
          <p>{{ product.price | currency : "THB" : "฿" : "1.2-2" }}</p>
          <p>x{{ product.qty }}</p>
          <p>{{ product.totalPrice | currency : "THB" : "฿" : "1.2-2" }}</p>
        </div>
      </div>
    </div>
    <!-- footer order -->
    <div class="text-right pt-2">
      <span
        >รวม
        {{
          calcTotalPricePerShop(cart) | currency : "THB" : "฿" : "1.2-2"
        }}</span
      >
    </div>
  </div>

  <!-- summary order -->
  <div class="p-4 border rounded-md bg-white flex justify-between">
    <div class="flex gap-4">
      <mat-form-field>
        <mat-label>ที่อยู่</mat-label>
        <mat-select
          [(ngModel)]="selectedAddress"
          [disabled]="myAddress.length === 0"
        >
          <mat-option *ngFor="let address of myAddress" [value]="address">
            {{ address.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div
        class="px-4 py-2 bg-sky-200 text-sky-500 rounded-lg flex items-center justify-center"
      >
        <button mat-button-icon [routerLink]="['/user/account/address']">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div *ngIf="selectedAddress != null || selectedAddress != undefined">
        <p>{{ selectedAddress.name }}</p>
        <p>{{ selectedAddress.address }} {{ selectedAddress.phone }}</p>
        <p>{{ selectedAddress.description }}</p>
      </div>
    </div>
    <div>
      <p>
        รวมยอดทั้งหมด {{ calcTotalPrice() | currency : "THB" : "฿" : "1.2-2" }}
      </p>
      <button
        mat-flat-button
        color="primary"
        class="w-full"
        (click)="checkoutHandler()"
        [disabled]="selectedAddress === undefined"
      >
        สั่งซื้อสินค้า
      </button>
    </div>
  </div>
</div>
