<ng-container >
    <div class="flex gap-2 items-center mb-4">
        <button mat-icon-button (click)="backNavigate()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h2 class="text-xl">กำหนดรหัสผ่านใหม่</h2>
    </div>
    <form [formGroup]="newPassFormGroup">
        <mat-form-field class="w-full mb-2">
            <mat-label>รหัสผ่าน</mat-label>
            <input type="password" matInput formControlName="password">
            <mat-error *ngIf="newPassFormGroup.get('password')?.errors as errors">
                <ng-container *ngIf="errors['required']">ต้องการรหัสผ่าน</ng-container>
                <ng-container *ngIf="errors['minlength']">รหัสผ่านต้องมีอย่างน้อย 8 ตัวอักษร</ng-container>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full mb-2">
            <mat-label>ยืนยันรหัสผ่าน</mat-label>
            <input type="password" matInput formControlName="cfPassword">
            <mat-error *ngIf="newPassFormGroup.get('cfPassword')?.errors as errors">
                <ng-container *ngIf="errors['required']">ต้องการยืนยันรหัสผ่าน</ng-container>
                <ng-container *ngIf="errors['minlength']">รหัสผ่านต้องมีอย่างน้อย 8 ตัวอักษร</ng-container>
            </mat-error>
        </mat-form-field>

        <button mat-flat-button color="primary" class="w-full" [disabled]="newPassFormGroup.invalid"
            (click)="submitHandler()">ยืนยัน</button>
    </form>
</ng-container>